In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\yogeshwar\db-capstone-project\.venv\lib\site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
import mysql.connector as connector

In [17]:
try:
    connection = connector.connect(
        host="localhost",
        user="little_lemon",
        password="little_lemon@1",
        database="littlelemondb"
    )
    print("Successfully connected to MySQL")
except Exception as e:
    print("Connection failed:", e)

Successfully connected to MySQL

In [18]:
cursor = connection.cursor()

In [19]:
show_tables = "SHOW TABLES"
cursor.execute(show_tables)

In [20]:
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('menu',), ('menuitems',), ('order',), ('orderdeliverystatus',), ('ordersview',), ('staff',)]

In [22]:
join_query = """ Select customers.Name as `Full Name`, customers.PhoneNumber as `Phone Number`, customers.Email as `Email` 
From customers inner join `order` on customers.customerId = `order`.customerId where `order`.TotalCost > 60"""
cursor.execute(join_query)
results = cursor.fetchall()
columns = cursor.column_names

print(columns)
for item in results:
    print(item)

('Full Name', 'Phone Number', 'Email')
('Chris Evans', '9876543210', 'chris.evans@example.com')
('Emma Watson', '8765432109', 'emma.watson@example.com')
('Robert Downey', '7654321098', 'robert.downey@example.com')